body {
  margin: 0%;
}
.bottom-container {
}

#facebook {
  height: 30px;
}
.first {
  background-color: black;
  height: 100px;
  text-align: center;
}
#footerOne {
  height: 24px;
}

h1 {
  margin-top: 0%;
  padding: 20px;
  padding-left: 0px;
}
#instagram {
  height: 30px;
}
#linkedin {
  height: 30px;
}
#logo {
  width: 100px;
  height: 100px;
}
.middle-container {
}
.nav-item-one {
  margin-right: 10px;
}
.top-container {
}
#twitter {
  height: 30px;
}
#youtube {
  height: 30px;
}
