body {
  margin: 0%;
}
.bottom-container {
}
.first {
  background-color: black;
  height: 100px;
  text-align: center;
}

h1 {
  margin-top: 0%;
  padding: 20px;
}
#logo {
  width: 100px;
  height: 100px;
}
.middle-container {
}
.top-container {
}
